
.Rproj.user/9C72FF2C/sources/prop/014D5D7A
.Rproj.user/9C72FF2C/sources/session-9b7c5b9f/36C15F88
.Rproj.user/9C72FF2C/sources/session-9b7c5b9f/36C15F88-contents
.Rproj.user/9C72FF2C/sources/session-9b7c5b9f/36C15F88-contents
